
body {
    position: relative;
    left: 2%;
    width: 96%;
}

body h1 {
    text-align: center;
}

body li {
    font-size: 20px;
	line-height: 1.4;
    list-style-position: inside;
}

html {
    background-color: rgb(240, 255, 255);
    max-width: 1000px;
    margin: auto;
    scroll-behavior: smooth;
}

.header {
    top: 0%;
    background-color: rgb(240, 255, 255);
    border: 4px solid;
}

.header ul {
    list-style: none;
    text-align: center;
}

.header li {
    display: inline-block;
    padding: 0% 8%;
}

.header h2 {
    text-align: center;
}

.header details {
    text-align: center;
}

.header summary {
    font-size: 16pt;
    padding: 2% 8%;
    font-weight: bold;
}

.grid {
    position: relative;
    left: 2%;
    width: 96%;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#projects {
	background-color: #FAF0DA;
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	border: gray 4px solid;
	padding: 10px;
}

#proj-list {
	background-color: #FAE0BA;
	border: black 2px solid;
	grid-column: 1 / span 1;
	grid-row: 1 / 2;
	padding: 10px;
	spacing: 4px;
	line-height: 1.5;
}

#proj-list ul {
	list-style: none;
}

#proj-list li {
	font-size: 22px;
}

p {
    padding:0 10px;
	line-height: 1.6;
   font-size: 20px;
}

h1, h2, h3, h4 {
    padding:0 10px;
    line-height: 1.8;
}

h3 {
    font-size: 22px;
}
